.container-footer {
    position: fixed;
    left: 0;
    padding: 0px;
    bottom: 0;
    background-color: #576270;
    color: #FFF;
    width: 100%;
    height: 22px;
    text-align: center;
    line-height: 21px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 10px;
    font-weight: bold;
}