.container {
    width: 100%;
    /* border: 1px solid black; */
}

.logo {
    position: absolute;
    width: 150px;
    height: auto;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: aqua; */
}

.corpo-consulta {
    position: absolute;
    top: 90px;
    width: 98%;
    /* background-color: blue; */
}

.container-logs {
    position: relative;
    /* background-color: aqua; */
}

.label-filtros {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filtro-header {
    margin-bottom: 0px;
}

.consulta-header {
    /* width: 100%; */
    margin-bottom: 0px;
    /* background-color: aqua; */
}

.consulta-input {
    margin-right: 10px;
    margin-bottom: 10px;
    /* background-color: aqua; */
}

.label-resultados {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    /* background-color: aqua; */
}

.consulta-header-linha {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
}

.consulta-item {}

.consulta-item-linha {}

.load-more {
    /* margin-top: 20px; */
    /* background-color: aqua; */
}

.consulta-lista {
    max-height: 325px;
    background-color: aqua;
}